.navbar {
  background: #1976d2;
  padding: 14px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.navbar a.active-link {
  font-weight: bold;
  text-decoration: underline;
}

.navbar button {
  margin-left: auto;
  background: #fff;
  color: #1976d2;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
}

.content {
  padding: 20px;
}
